<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
			</pattern>
		</encoder>
	</appender>

	<property name="LOG_PATH" value="./logs"></property>


	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger -- %msg -- %n
			</pattern>
		</encoder>
		<append>true</append>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<MaxHistory>30</MaxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="ASYNC"
		class="ch.qos.logback.classic.AsyncAppender">
		<discardingThreshold>0</discardingThreshold>
		<queueSize>512</queueSize>
		<appender-ref ref="FILE"></appender-ref>
	</appender>

	<logger name="org.springframework" level="ERROR" />
	<logger name="org.springframework.transaction" level="ERROR" />
	<logger name="com.digital.core.banking.*" level="INFO" />
	<logger name="kong.unirest.*" level="ERROR" />
	<logger name="org.apache.camel.*" level="ERROR" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ASYNC" />
	</root>

	<shutdownHook
		class="ch.qos.logback.core.hook.DelayingShutdownHook" />

	<contextListener
		class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

</configuration>